.ant-table-cell-content {
  font-size: small;
}

.ant-table-cell {
  font-size: small;
}

.css-var-root.ant-picker-css-var {
  border-radius: 4px !important;
}

.css-var-root.ant-pagination {
  padding-left: 4px;
  padding-right: 4px;
}

.css-var-root.ant-select-css-var {
  border-radius: 4px !important;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 116, 139, 0.5);
  border-radius: 6px;
}

.custom-scrollbar {
  scrollbar-width: thin;
}
